---
import Layout from '../layouts/Layout.astro';
import Curriculum from '../components/Dashboard/Curriculum';
---

<Layout title="Japanese Vocab - Ruta de Aprendizaje">
	<main class="py-8">
		<Curriculum client:load />
	</main>
</Layout>
